<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}Planamo{% endblock %}</title>
		<link rel='stylesheet' type='text/css' href='/mymedia/css/main.css' />
		{% block extra_head %}{% endblock %}
	</head>

	<body>
		<div id="container">
			<div id="header">
				<div id="logo">
					<a href="/"><img src="/mymedia/images/logo.png" alt="planamo" /></a>
				</div>
			</div>
			{% block main_content %}{% endblock %}
		</div>
	</body>
	
</html>
