{% extends "planamocal/base.html" %}

{% block title %}{{ block.super }} - Calendar{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href='/mymedia/jquery/ui-themes/planamo/theme.css' />
<link rel='stylesheet' type='text/css' href='/mymedia/css/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' media='print' href='/mymedia/css/fullcalendar/fullcalendar.print.css' />
<link rel='stylesheet' type='text/css' href='/mymedia/js/lionbars.min/lionbars.css' />

<script type='text/javascript' src='/mymedia/jquery/jquery-1.7.1.min.js'></script> 
<script type='text/javascript' src='/mymedia/jquery/jquery-ui-1.8.16.custom.min.js'></script>
<script type='text/javascript' src='/mymedia/js/fullcalendar/_loader.js'></script>
<script type='text/javascript' src='/mymedia/js/sidebar.js'></script>
<script type='text/javascript' src='/mymedia/js/date.js'></script>
<script type='text/javascript' src='/mymedia/js/jquery.editinplace.js'></script>
<script type='text/javascript' src='/mymedia/js/jquery.maskedinput-1.3.js'></script>
<script type='text/javascript' src='/mymedia/js/jquery.throttle-debounce.min.js'></script>
<script type='text/javascript' src='/mymedia/js/timepicker.js'></script>
<script type='text/javascript' src='/mymedia/js/compareColors.js'></script>
<script type='text/javascript' src='/mymedia/js/autoresize.jquery.js'></script>
<script type='text/javascript' src='/mymedia/js/lionbars.min/jquery.lionbars.0.3.js'></script> 


<script type='text/javascript'>

/* Adds CSRF token to AJAX requests */
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});


/**
 * Function: getCalendarHeight
 * ----------------------------
 * Calculates the height for the calendar to fill the page by taking 
 * the height of the browser minus the header height
 *
 * @return height for calendar
 */
function getCalendarHeight() {
	return $(window).height() - $("#header").height();
}

//sidebar resized when browser resized
// TODO abstract this into EventSlider.js... why do you have to modify 3 different 
//      elements? shouldn't you only have to modify one?
function resizeSideBar() {
	var calendarHeight = getCalendarHeight();
	var sidebarMainHeight = calendarHeight - $('#sidebar-top').height();

	$("#sidebar-container").height(calendarHeight);
	$("#sidebar-main").height(sidebarMainHeight);
	$("#event-slider-container").height(sidebarMainHeight);
}

	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		/* Intialize calendar */
    var eventTitle = null;
    var newEvent;
		var calendar = $('#calendar').fullCalendar({
			theme: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			firstHour: 8,
			eventColor: '#ee7000',
			defaultView: 'agendaWeek',
			height: getCalendarHeight(),
			selectable: true,
			selectHelper: true,
			editable: true,
			weekMode: 'liquid',
			timeFormat: {
				agenda: 'h:mmt{ - h:mmt}'
			},
			select: function(start, end, allDay) {
			  // get event title (or ask for one if event does not exist yet)
			  var eventTitle = calendar.fullCalendar('isNewEventBeingCreated')
			    && calendar.fullCalendar('isNewEventBeingCreated').title;

				eventTitle = 'New Event';

				// render event on calendar
				var event = { title: eventTitle,
			                start: start,
			                end: end,
			                allDay: allDay };
				if (!calendar.fullCalendar('isNewEventBeingCreated')) {
				  calendar.fullCalendar('slider').createAndViewEvent(event);
				} else {
				  var updates = { start: start, end: end, allDay: allDay };
				  calendar.fullCalendar('updateCreatedEvent', updates);
				  var updatedEvent = calendar.fullCalendar('isNewEventBeingCreated');
				  slider.update(updatedEvent, true);
				}
			},
			eventClick: function(event, jsEvent, view) {
			  if (calendar.fullCalendar('isNewEventBeingCreated') &&  
			      calendar.fullCalendar('isNewEventBeingCreated').id == event.id)
			    return;
			  // TODO deal with repeating event
				slider.viewEvent(event);
				if (!calendar.fullCalendar('isNewEventBeingCreated')) {
					calendar.fullCalendar('highlightEvent', event);
				}
			},
			eventResize: function(event) {
			  slider.update(event);
			},
			eventDrop: function(event) {
			  slider.update(event);
			},
			events: '/cal/jsonfeed/'
		});

		var slider = calendar.fullCalendar('slider');

		var sidebar = new SideBar();

		/* Dynamically resize height for calendar and sidebar */
		$(window).resize(function() {
			$('#calendar').fullCalendar('option', 'height', getCalendarHeight());
		  resizeSideBar();
			sidebar.resizeScrollBar();
		});

		/* Dynamically set height for sidebar */
		resizeSideBar();

		/* Need to wait for page to finish loading before adding
		scrollbars to the sidebar - there is a slight delay */
		window.onload = function() {
			sidebar.resizeScrollBar();
		}

	});

</script>	
{% endblock %}
	
{% block main_content %}
<div id="calendar-container">	
	<div id='calendar'></div>
</div>

<div id="sidebar-container">
	<div id="sidebar-top">
		<form id="add-event-form">
			<textarea type="text" id="add-event-textbox" placeholder="Event Name #Person @Time" ></textarea>
		</form>
	</div>	

	<div id="sidebar-main">
		<div id="calendar-shadow"></div>
		<div id="sidebar-content"></div>
		<div id="event-slider-container"></div>
	</div>
</div>
{% endblock %}
